@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;700&family=M+PLUS+Rounded+1c:wght@300;400&display=swap');

:root {
  --destacados: #ffcb05;
  --principal: #2a75bb;
  --acciones: #e3350d;
  --texto: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--destacados);
  padding: 10px 20px;
}

h1 {
  font-family: "Kodchasan", sans-serif;
  color: var(--principal);
  font-size: 40px;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
}

.buscadorLupa svg {
  fill: var(--principal);
}

.buscadorLupa {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 400px;
}

.buscadorLupa input {
  max-width: 100%;
}

nav input[type="text"] {
  padding: 10px 15px;
  border: 2px solid var(--acciones);
  border-radius: 20px;
  background-color: var(--principal);
  color: var(--texto);
  font-size: 1rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav input[type="text"]::placeholder {
  color: var(--texto);
}

nav input[type="text"]:focus {
  border-color: var(--acciones);
  box-shadow: 0 0 5px var(--acciones);
}

.cartas-poke {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

.carta-pokemon:hover{
  transform:scale(1.05);

}
.carta-pokemon {
  background-color: var(--principal);
  color: var(--texto);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition:ease 0.5s;
}

.carta-pokemon h2 {
  font-family: 'Kodchasan', sans-serif;
  color: var(--destacados);
  margin-bottom: 10px;
}

.carta-pokemon img {
  width: 150px;
  height: 150px;
  margin: 10px 0;
}

.carta-pokemon p {
  margin: 5px 0;
  font-size: 1rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.id{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 5px;
    width: 85px;
    margin: 15px auto 20px auto
}



.volveratras {
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid var(--destacados);
  color: var(--texto);
  font-family: 'Kodchasan', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: var(--acciones);
  cursor: pointer;
}

.tipoBtn {
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid var(--destacados);
  color: var(--texto);
  font-family: 'Kodchasan', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: var(--acciones);
}

